{% for vote in votes %}
	<div class="block-m">
		赞同了回答 <small class="text-right">{{ vote.date }} </small> 
		<div class="title">
			<a href="{% url 'ask_app:question' vote.answer.question.id %}">{{ vote.answer.question.title }}</a>
			</div>
			<div class="author">
				<a href="{% url 'user_app:user' vote.answer.author.id %}">
					<img src="/media/{{ vote.answer.author.image }}">
					{{ vote.answer.author.username }}
				</a>
				{{ vote.answer.author.brief }}
			</div>
			<div class="content">
				{{ vote.answer.preview }}
				<a href="{% url 'ask_app:answer' vote.answer.question.id vote.answer.id %}">阅读全文</a>
			</div>
			<div class="infobar">
				<a class="btn btn-md btn-info" vote="{% url 'ask_app:vote' vote.answer.id %}?op=up"><span class="fui-triangle-up"></span><span voteupCount>{{ vote.answer.voteup }}</span></a>
				<a class="btn btn-md btn-info" vote="{% url 'ask_app:vote' vote.answer.id %}?op=down"><span class="fui-triangle-down"></span></a>
				<a class="info-link" href="{% url 'ask_app:answer' vote.answer.question.id vote.answer.id %}" %}"><span class="fui-bubble"></span> {{ vote.answer.comment.all.count }}条评论</a>
				<a class="info-link" href="" favour="{% url 'ask_app:favour' vote.answer.id %}">
				{% if answer in user.favour_answer.all %}
					已收藏  
				{% else %}
					<span class="fui-star-2"></span>收藏
				{% endif %}
			</a>
		</div>
	</div>
{% endfor %}