{% extends "ask_app/base.html" %}
{% block content %}
<style>
	.answer_dialog{
		display: none;
	}
</style>
<div class="blankline"></div>
<div class="block-m">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="topic">
					{% for topic in question.topic.all %}
					<a href="{% url 'ask_app:topic' topic.id %}">{{ topic.title }}</a>
					{% endfor %}
				</div>
				<div class="title">
					{{ question.title }}		
				</div>
				<div class="content">
					{{ question.content }}
				</div>
				<div class="infobar">
					<a class="btn btn-info" follow="{% url 'ask_app:follow' %}?object=question;id={{question.id}}">{% if question in user.follow_question.all %}已关注{% else %}关注问题{% endif %}</a>
					<a class="btn btn-inverse" id="answerButton" >写回答</a>
				</div>
			</div>
			<div class="col-md-4">
				<div><br></div>
				<div><br></div>
				<div>提问人：{% if question.author %}{{ question.author}}{% else %}匿名用户{% endif %}</div>
				<div>被浏览：{{ question.visi_count }}</div>
				<div>最后编辑时间：{{ question.datetime }}</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="answer_dialog" id="answerDialog">
				<div class="block-m">
					<div class="author">
						{% if user.is_authenticated %}
						<img src="/media/{{ user.image }}">
						{{ user.username }},
						{{ user.brief }}
						{% else %}
						<p>请登录后再回答.</p>
						{% endif %}
					</div>
					<br>
					<div>
						<form class="form" action="{% url 'ask_app:answers' question.id %}" method="post">
							{% csrf_token %}
							<div class="form-group">
								<textarea class="form-control" rows="6" name="content" required id="content"></textarea>
							</div>
							<button class="btn btn-primary" type="submit" >提交回答</button>
						</form>
					</div>		
				</div>
			</div>
			<div id="answerList">
				<div class="block-m">
					<div class="author">
					  <a href="{% url 'user_app:user' answer.author.id %}">
					  	<img src="/media/{{ answer.author.image }}">
					  	{{ answer.author.username }}
					  </a>,{{ answer.author.brief }}
					</div>
					<div class="content">
					<p>{{ answer.content|safe }}</p>
					</div>
					<div class="infobar">
						<a class="btn btn-md btn-info" vote="{% url 'ask_app:vote' answer.id %}?op=up"><span class="fui-triangle-up"></span><span voteupCount>{{ answer.voteup }}</span></a>
						<a class="btn btn-md btn-info" vote="{% url 'ask_app:vote' answer.id %}?op=down"><span class="fui-triangle-down"></span></a>
						<a class="info-link"  href="#myModal"><span class="fui-bubble"></span> {{ answer.comment.all.count }}条评论</a>
						<a class="info-link" href="" favour="{% url 'ask_app:favour' answer.id %}">
						{% if answer in user.favour_answer.all %}
							已收藏  
						{% else %}
						<span class="fui-star-2"></span>收藏
						{% endif %}
						</a>
					</div>
				</div>	
			</div>
			<div><br></div>
		</div>
		<div class="col-md-4">
			<div class="block-m">
				<div class="comment-title"> 
					全部评论({{ comments.count }})
				</div>
				<div class="" id="commentList">
				{% for comment in comments %}
					<div class="author">
						<img src="/media/{{ comment.author.image }}">
						{{ comment.author.username }} - <small>{{ comment.datetime }}</small>
					</div>
					<div class="comment-item">
					{{ comment.content }}
					</div>
				{% endfor %}
				</div>
				<p></p>
				<form class="form-group" method="post" action="{% url 'ask_app:comments' question.id answer.id %}">
					{% csrf_token %}
          <div class="form-group">
            <textarea class="form-control" rows="2" name="content" required id="comment-content"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" id="putButton">发表评论</button>
        </form>
			</div>
		</div>
	</div>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'ask_app/js/shao.js' %}"></script>

{% endblock content %}
