{% extends "ask_app/base.html" %}
{% block content %}
<div class="container">
<div class="blankline"></div>
<div class="row">
	<div class="col-md-8" >
		<div id="answerList">
			{% for answer in answers %}
			<div class="block-m">
				<div class="topic">
					话题：
					{% for topic in answer.question.topic.all %}
					<a href="{% url 'ask_app:topic' topic.id %}">{{ topic.title }} </a>
					{% endfor %}
				</div>
				<div class="author">
					<a href="{% url 'user_app:user' answer.author.id %}">
						<img src="media/{{ answer.author.image }}">
						{{ answer.author.username }}
					</a>
					{{ answer.author.brief }}
				</div>
				<div class="title">
					<a href="{% url 'ask_app:question' answer.question.id %}">{{ answer.question.title }}</a>
				</div>
				<div class="content">
				{{ answer.preview }}
				<a href="{% url 'ask_app:answer' answer.question.id answer.id %}">阅读全文</a>
				</div>
				<div class="infobar">
					<a class="btn btn-md btn-info" vote="{% url 'ask_app:vote' answer.id %}?op=up"><span class="fui-triangle-up"></span><span voteupCount>{{ answer.voteup }}</span></a>
					<a class="btn btn-md btn-info" vote="{% url 'ask_app:vote' answer.id %}?op=down"><span class="fui-triangle-down"></span></a>
					<a class="info-link" href="{% url 'ask_app:answer' answer.question.id answer.id %}" %}"><span class="fui-bubble"></span> {{ answer.comment.all.count }}条评论</a>
					<a class="info-link" href="" favour="{% url 'ask_app:favour' answer.id %}">
					{% if answer in user.favour_answer.all %}
						已收藏  
					{% else %}
					<span class="fui-star-2"></span>收藏
					{% endif %}
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="text-center">
			<button type="button" load="{% url 'ask_app:index' %}?page=" class="btn btn-primary btn-block" id="loadButton" page="2">加载更多</button>
		</div>
		<div><br></div>
	</div>
	<div class="col-md-4">
		{% if not user.is_authticated %}
		<div class="block-m">
			<h3>Anyask</h3>
			<p>一个与世界分享你编的故事，大家看你来装逼的垃圾问答社区</p>			
		</div>
		{% endif %}
		<div class="footer">
			@Anyask<br>
			<span class="fui-mail">E-mail:</span><a href="mailto:shaopson@outlook.com">shaopson@outlook.com</a><br>
			<span class="fui-github">Github:</span><a href="https://github.com/shaogit/anyask">https://github.com/shaogit/anyask</a>
			<p>粤ICP备17124600号</p>
		</div>
	<!-- end colmd4-->
	</div>
</div>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'ask_app/js/shao.js' %}"></script>
{% endblock content %}



		



